{% extends "base.html" %}
{% block title %}
Login
{% endblock %}
{% block content %}
<form action="{{url_for('login')}}" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Enter your full name</label>
        <input type="text" name="accountName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
        <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="accountPassword" class="form-control" id="exampleInputPassword1">
        </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}